<!--
<div id="<%= dom_id tweet %>">
  <p>
    <strong>Username:</strong>
    <%= tweet.UserName %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tweet.Description %>
  </p>

  <%= link_to "Show this tweet", tweet %>
</div>
-->
    <tr id="<%= dom_id tweet %>">
      <td><%= tweet.UserName %></td>
      <td><%= tweet.Description %></td>
      <td>
        <%= link_to "Mostrar Tweet", tweet, :class => "btn btn-primary" %>
      </td>
    </tr>
  
