<div class="container-fluid">
  <div id="body">

    <p style="color: green"><%= notice %></p>

    <h1>Tweets</h1>

    <form action="/tweets" class="row g-3" method="get">
      <div class="col-auto">
        <input type="text" class="form-control" id="busqueda" name="busqueda">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-secondary mb-3">Buscar Usuario</button>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Tweet</th>
          <th scope="col">Buscar / Editar</th>
        </tr>
      </thead>
      <tbody>
      <div id="tweets">
      <% @tweets.each do |tweet| %>
        <%= render tweet %>
        <td>
            <%= link_to "Mostrar Tweet", tweet, :class => "btn btn-primary" %>
        </td>
      </tr>
      <% end %>
      </div>
      <tr>
        <td colspan="2">
          <div class="digg_pagination ">
            <%= will_paginate @tweets %>
          </div>
        </td>
        <td>
          <%= link_to "Nuevo Tweet", new_tweet_path, :class => "btn btn-secondary" %>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>